################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Efcore-vs-Raw-join-performance/FileContentIndex
/Efcore-vs-Raw-join-performance/.vs/Efcore-vs-Raw-join-performance/FileContentIndex
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/bin/Debug/net7.0
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/ref
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/refint
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/apphost.exe
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.AssemblyInfo.cs
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.AssemblyInfoInputs.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.assets.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.csproj.AssemblyReference.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.csproj.BuildWithSkipAnalyzers
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.csproj.CopyComplete
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.csproj.CoreCompileInputs.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.csproj.FileListAbsolute.txt
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.dll
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.GeneratedMSBuildEditorConfig.editorconfig
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.genruntimeconfig.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.pdb
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net8.0/Efcore-vs-Raw-join-performance.AssemblyInfo.cs
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net8.0/Efcore-vs-Raw-join-performance.AssemblyInfoInputs.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net8.0/Efcore-vs-Raw-join-performance.assets.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net8.0/Efcore-vs-Raw-join-performance.csproj.AssemblyReference.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net8.0/Efcore-vs-Raw-join-performance.GeneratedMSBuildEditorConfig.editorconfig
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.AssemblyInfo.cs
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.AssemblyInfoInputs.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.assets.cache
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Debug/net7.0/Efcore-vs-Raw-join-performance.GeneratedMSBuildEditorConfig.editorconfig
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Release
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Efcore-vs-Raw-join-performance.csproj.nuget.dgspec.json
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Efcore-vs-Raw-join-performance.csproj.nuget.g.props
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/Efcore-vs-Raw-join-performance.csproj.nuget.g.targets
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/project.assets.json
/Efcore-vs-Raw-join-performance/Efcore-vs-Raw-join-performance/obj/project.nuget.cache
