################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Efcore-vs-Raw-join-performance/.vs/Efcore-vs-Raw-join-performance/FileContentIndex
